<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
    <DataCollectionRunSettings>
        <DataCollectors>
            <DataCollector friendlyName="XPlat code coverage">
                <!-- Coverlet configuration: https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/MSBuildIntegration.md -->
                <Configuration>
                    <Format>lcov</Format>
                    <Exclude>[*]*.Facades?.*,[*]*.Façades?.*</Exclude>
                    <ExcludeByFile>**/*.Designer.cs</ExcludeByFile>
                </Configuration>
            </DataCollector>
        </DataCollectors>
    </DataCollectionRunSettings>
</RunSettings>