<?xml version="1.0" encoding="utf-8"?>
<!-- Logging XML configuration: https://github.com/nlog/NLog/wiki/Configuration-file -->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd https://nlog-project.org/schemas/NLog.xsd">

	<!-- Log file directory: absolute or relative to CWD -->	
	<variable name="logFolder" value="logs"/>
	
	<!-- Message format: https://nlog-project.org/config/?tab=layout-renderers -->
	<variable name="layout" 
	          value="${pad:padding=-5:fixedLength=true:inner=${level}} - ${date:yyyy-MM-dd\THH\:mm\:ss.fffzzz} - ${logger:shortName=true} - ${message}${when:when='${exception}' != '':inner=${newline}${exception:format=ToString,StackTrace:separator=\r\n}}"/>
	
	<targets>
		<target name="console" xsi:type="Console" layout="${layout}"/>
		
		<!-- File target: https://github.com/nlog/NLog/wiki/File-target -->
		<target name="file" xsi:type="File" layout="${layout}" 
		        fileName="${logFolder}/Fail2Ban4Win.log" archiveFileName="${logFolder}/Fail2Ban4Win_{#}.log" 
		        archiveNumbering="Date" archiveEvery="Day" archiveDateFormat="yyyy-MM-dd"
		        maxArchiveFiles="0" maxArchiveDays="0" archiveAboveSize="0" enableArchiveFileCompression="false" />
	</targets>
	
	<rules>
		<!-- minLevel = Trace, Debug, Info, Warn, Error, Fatal, or Off -->
		<logger name="*" minlevel="Info" writeTo="console"/>
		<logger name="*" minlevel="Info" writeTo="file"/>
	</rules>
	
</nlog>
